.backdrop{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.7;
}

.overlay{
    z-index: 150;
    position: absolute;
    background-color: white;
    transform: translate(-50%, -20%);
    top: 30%;
    left: 50%;
    border-radius: 15px;
    padding: 20px;
}

.titleForm{
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.containerDiv{
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
}

.inputForm{
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
    width: 300px;
    margin-bottom: 20px;
}


